<% provide(:title, @supervisor.email) %>
<!DOCTYPE html>
<html lang="en">
    
   <head>

   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
   <meta name="description" content="">
   <meta name="author" content="">

   <!-- Bootstrap core CSS -->
   <link href="/assets/startbootstrap-grayscale/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

   <!-- Custom fonts for this template -->
   <link href="/assets/startbootstrap-grayscale/vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
   <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">
   <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

   <!-- Custom styles for this template -->
   <link href="/assets/startbootstrap-grayscale/css/grayscale.min.css" rel="stylesheet">
   
   </head>
   
   <body id="page-top">
       
       
       <br>
       <br>
       <section id="projects" class="projects-section bg-light">
       <div class="card mb-3">
           <div class="card-header">
               <i class="fas fa-table">
                   Pending Hours
               </i>
           </div>
           <div class="card-body">
               <div class="table-responsive">
                   <div id="dataTable_wrapper" class"dataTable_wrapper dt-bootstrap4">
                       <div class="row">
                           <div class="col-sm-12">
                               <table class="table table-bordered dataTable" id="dataTable" width="100%" cellspacing="0" role="grid" aria-describedby="dataTable_info" style="width: 100%;">
                                   <thread>
                                       <tr role="row">
                                           <th class="sorting_desc" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending" style="width: 55px;" aria-sort="descending">
                                               Name
                                           </th>
                                           <th class="sorting_desc" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Hours: activate to sort column ascending" style="width: 55px;" aria-sort="descending">
                                               Hours
                                           </th>
                                           <th class="sorting_desc" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Date: activate to sort column ascending" style="width: 55px;" aria-sort="descending">
                                               Date
                                           </th>
                                           <th class="sorting_desc" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Approve?: activate to sort column ascending" style="width: 55px;" aria-sort="descending">
                                               Approve?
                                           </th>
                                       </tr>
                                   </thread>
                                   <tfoot>
                                       <tr>
                                           <th rowspan="1" colspan="1">Name</th>
                                           <th rowspan="1" colspan="1">Hours</th>
                                           <th rowspan="1" colspan="1">Date</th>
                                           <th rowspan="1" colspan="1">Approve?</th>
                                       </tr>
                                   </tfoot>
                                   <tbody>
                                       <tr class="row">
                                           <% if @supervisor.hours.any? %> 
                                               <%= render @approve %>
                                           <% end %>
                                       </tr>
                                   </tbody>
                               </table>
                           </div>
                       </div>
                   </div>
               </div>
           </div>
       </div>
       </section>
       
       
       
      <!-- Bootstrap core JavaScript -->
      <script src="/assets/startbootstrap-grayscale/vendor/jquery/jquery.min.js"></script>
      <script src="/assets/startbootstrap-grayscale/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

      <!-- Plugin JavaScript -->
      <script src="/assets/startbootstrap-grayscale/vendor/jquery-easing/jquery.easing.min.js"></script>

      <!-- Custom scripts for this template -->
      <script src="/assets/startbootstrap-grayscale/js/grayscale.min.js"></script>
   </body>

    
</html>