<h1>Community Service</h1>

<p>Hi <%= @user.first_name %> <%= @user.last_name %>,</p>

<p>
Welcome to Community Service! Click on the link below to activate your account:
</p>

<p>
If you have already given hours to Mrs. Gay, they will soon be transferred shortly
Don't manually input them, we will take care of it
</p>

<%= link_to "Activate", edit_account_activation_url(@user.activation_token,
                                                    email: @user.email) %>
                                                    