<h1>Community Service</h1>

<p>Hi <%= @user.first_name %> <%= @user.last_name %>,</p>

<p>
Welcome to the CVHS Community Service App! Click on the link below to activate your account:
</p>

<%= link_to "Activate", edit_account_activation_url(@user.activation_token, email: @user.email) %>

<p>
Thank you!
</p>
