/* Place all the styles related to the Admin controller here.
* They will automatically be included in application.css.
*You can use Sass (SCSS) here: http://sass-lang.com/
*
//cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css
*/
