/* line 1, app/assets/stylesheets/custom.scss */
div.container {
  padding-left: 0px;
  padding-right: 0px;
  max-width: none !important;
}

/* line 8, app/assets/stylesheets/custom.scss */
div.row {
  margin-left: 0px !important;
  margin-right: 0px !important;
}

/* line 12, app/assets/stylesheets/custom.scss */
#signup {
  padding-left: 30px;
}

/* line 15, app/assets/stylesheets/custom.scss */
#inputs {
  width: 80vw;
  margin-left: auto !important;
  margin-right: auto !important;
}
