<% provide(:title, 'All Students') %>
<!DOCTYPE html>
<html lang="en">
  <br>
  <br>

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Community Service Admin - All Students</title>

  <!-- Custom fonts for this template-->
  <link href="/assets/startbootstrap-sb-admin-2/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

  <!-- Custom styles for this template-->
  <link href="/assets/startbootstrap-sb-admin-2/css/sb-admin-2.min.css" rel="stylesheet">
  
  <!-- DataTables css/js -->
  <link href="/assets/startbootstrap-sb-admin-2/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">

  

</head>

<body id="page-top">


        <!-- Begin Page Content -->
        <div class="container-fluid">

          <!-- Page Heading -->
          <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">All Students</h1>
            <!-- MAYBE?<a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-download fa-sm text-white-50"></i> Generate Report</a> -->
          </div>

          <!-- Area Chart Weekly -->
          <div class="card shadow mb-4">
              <div class="card-headr py-3">
                  <h6 class="m-0 font-weight bold text-primary">Hour Distribution (Yearly)</h6>
              </div>
              <div class="card-body">
                  <div class="chart-area">
                      <canvas id="YearlyAreaChart"></canvas>
                  </div>
                  <hr>
                  Approved Hour Distribution from the year
              </div>
          </div>
          
          
            <!-- Pie Chart -->
            <div class="col-xl-4 col-lg-5">
              <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                  <h6 class="m-0 font-weight-bold text-primary">Hour Distribution</h6>
                  <div class="dropdown no-arrow">
                  </div>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                  <div class="chart-pie pt-4 pb-2">
                    <canvas id="HourDistributionChart"></canvas>
                  </div>
                  <div class="mt-4 text-center small">
                    <span class="mr-2">
                      <i class="fas fa-circle text-primary"></i> Freshmen
                    </span>
                    <span class="mr-2">
                      <i class="fas fa-circle text-success"></i> Sophomores
                    </span>
                    <span class="mr-2">
                      <i class="fas fa-circle text-info"></i> Juniors
                    </span>
                    <span class="mr-2">
                      <i class="fas fa-circle text-success"></i> Seniors
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>

          
          
                
               

        </div>
        <!-- /.container-fluid -->

      </div>
      <!-- End of Main Content -->

      <!-- Footer -->
      <footer class="sticky-footer bg-white">
        <div class="container my-auto">
          <div class="copyright text-center my-auto">
            <span>Copyright &copy; Community Service Logger 2019</span>
          </div>
        </div>
      </footer>
      <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>


  <!-- Bootstrap core JavaScript-->
  <script src="/assets/startbootstrap-sb-admin-2/vendor/jquery/jquery.min.js"></script>
  <script src="/assets/startbootstrap-sb-admin-2/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Core plugin JavaScript-->
  <script src="/assets/startbootstrap-sb-admin-2/vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for all pages-->
  <script src="/assets/startbootstrap-sb-admin-2/js/sb-admin-2.min.js"></script>

  <!-- Page level plugins -->
  <script src="/assets/startbootstrap-sb-admin-2/vendor/chart.js/Chart.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>

  <!-- Page level custom scripts -->
  <!-- Use these for Charts -->
  <script src="<%= asset_path 'YearlyHourChart' %>"></script>
  <div class="card-body">
    <div class="chart-area">
      <canvas id="YearlyHourChart"></canvas>
    </div>
  </div>
  <script src="<%= asset_path 'HourDistributionChart.js' %>"></script>
  <div class="card-body">
    <div class="chart-area">
      <canvas id="HourDistributionChart"></canvas>
    </div>
  </div>
  
  <script src="/assets/startbootstrap-sb-admin-2/js/demo/chart-area-demo.js"></script>
  <script src="/assets/startbootstrap-sb-admin-2/js/demo/datatables-demo.js"></script>
  

</body>

</html>

