<% provide(:title, 'Supervisors') %>

    
<html lang="en">

  <head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Font Awesome Icons -->
  <link href="/assets/startbootstrap-creative/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Merriweather+Sans:400,700" rel="stylesheet">
  <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic' rel='stylesheet' type='text/css'>

  <!-- Plugin CSS -->
  <link href="/assets/startbootstrap-creative/vendor/magnific-popup/magnific-popup.css" rel="stylesheet">

  <!-- Theme CSS - Includes Bootstrap -->
  <link href="/assets/startbootstrap-creative/css/creative.min.css" rel="stylesheet">
  
  <link href="/assets/startbootstrap-sb-admin-2/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
  
   <link href="/assets/startbootstrap-sb-admin-2/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
   
   
  

  </head>
  
  <body id="page-top">
      
      <header class="masthead text-center text-black d-flex">
       <div class="container my-auto">
        <div class="row">
         <div class="col-lg-10 mx-auto">
          <h1 class="text-uppercase">
           <strong>Supervisors</strong>
          </h1>
         </div>
        </div>
       
          <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">List of Supervisors</h6>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                      <th>First Name</th>
                      <th>Email</th>
                      <th>Phone Number</th>
                      <th>Organization</th>
                    </tr>
                  </thead>
                  <tfoot>
                    <tr>
                      <th>First Name</th>
                      <th>Email</th>
                      <th>Phone Number</th>
                      <th>Organization</th>
                    </tr>
                  </tfoot>
                  <tbody>
                    <%= render partial: 'supervisor', collection: @supervisors %>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
    
      </div>
      </header>
      
        <!-- Bootstrap core JavaScript -->
  <script src="/assets/startbootstrap-creative/vendor/jquery/jquery.min.js"></script>
  <script src="/assets/startbootstrap-creative/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Plugin JavaScript -->
  <script src="/assets/startbootstrap-creative/vendor/jquery-easing/jquery.easing.min.js"></script>
  <script src="/assets/startbootstrap-creative/vendor/magnific-popup/jquery.magnific-popup.min.js"></script>
  
  <script src="/assets/startbootstrap-sb-admin-2/vendor/chart.js/Chart.min.js"></script>
  <script src="/assets/startbootstrap-sb-admin-2/vendor/datatables/jquery.dataTables.min.js"></script>
  <script src="/assets/startbootstrap-sb-admin-2/vendor/datatables/dataTables.bootstrap4.min.js"></script>

  <!-- Custom scripts for this template -->
  <script src="/assets/startbootstrap-creative/js/creative.min.js"></script>
  <script src="/assets/startbootstrap-sb-admin-2/js/demo/datatables-demo.js"></script>

 
  </body>

</html>