<% provide(:title, @user.email) %>
<html lang="en">
    <head>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">

        <!-- Bootstrap core CSS -->
        <link href="/assets/startbootstrap-creative/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

        <!-- Custom fonts for this template -->
        <link href="/assets/startbootstrap-creative/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
        <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>

        <!-- Plugin CSS -->
        <link href="/assets/startbootstrap-creative/vendor/magnific-popup/magnific-popup.css" rel="stylesheet">

        <!-- Custom styles for this template -->
        <link href="/assets/startbootstrap-creative/css/creative.min.css" rel="stylesheet">

    </head>
    
    <body id="page-top">
        <header class="masthead text-center text-white d-flex">
         <div class="container my-auto">
          <div class="row">
           <div class="col-lg-10 mx-auto">
            <h1>
             <strong>Hello <%= @user.first_name %></strong>
            </h1>
            <h2><strong>Here are all of your hours</strong>
            </h2>
           </div>
          </div>
          <div class="col-md-8">
           <% if @user.hours.any? %>
            <h3>Hours (<%= @user.hours.count %>)</h3>
             <ol class="hours">
              <%= render @hours %>
             </ol>
             <%= will_paginate @hours %>
            <% end %>
          </div>
         </div>
        </header>


        <!-- Bootstrap core JavaScript -->
        <script src="/assets/startbootstrap-creative/vendor/jquery/jquery.min.js"></script>
        <script src="/assets/startbootstrap-creative/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

        <!-- Plugin JavaScript -->
        <script src="/assets/startbootstrap-creative/vendor/jquery-easing/jquery.easing.min.js"></script>
        <script src="/assets/startbootstrap-creative/vendor/scrollreveal/scrollreveal.min.js"></script>
        <script src="/assets/startbootstrap-creative/vendor/magnific-popup/jquery.magnific-popup.min.js"></script>

        <!-- Custom scripts for this template -->
        <script src="/assets/startbootstrap-creative/js/creative.min.js"></script>

    </body>
</html>