<% provide(:title, "FormA") %>
<!DOCTYPE html>
<html>
    <h1>FORM A* - Parent Permission Form</h1>
    
    <h2>CVHS Community Service Learning Project</h2>
    
    <h2><u>ALL STUDENTS MUST COMPLETE AND SUBMIT THIS FORM BEFORE BEGINNING SERVICE</u></h2>
    
    <h2><u>ONCE YOUR FORM IS SUBMITTED IT MAY TAKE A DAY OR TWO TO RECIEVE A EMAIL CONFIRMING THAT YOU HAVE JOINED</u></h2>
    
    <h3><b>The CVHS Community Service Learning Project encouages students to volunteer their time to help
        others by preforming community service. We believe this program enhances skills, builds character and
        fosters personal growth. Participation is strongly encouraged but is not required.</b></h3>
</html>