<h1>CVHS Community Service</h1>

<p>Hello,</p>

<p>
Welcome to CVHS Community Service! Click on the link below to activate your account:
</p>

<%= link_to "Activate", sup_edit_account_activation_url(@supervisor.activation_token,
                                                    email: @supervisor.email) %>