/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *
 *= require_tree 
 *= require_self
 *= require startbootstrap-creative/css/creative
 *= require startbootstrap-creative/vendor/bootstrap/css/bootstrap
 *= require startbootstrap-creative/vendor/fontawesome-free/css/all
 *= require startbootstrap-creative/vendor/magnific-popup/magnific-popup
 */

 
 .signature_pad {
  width: 700px;
  height: 400px;
  margin: 0 auto;
}

.signature_pad_body canvas {
  width: 100%;
  height: 100%;
  border: dotted #444;
  background: #CCCCCC;
}