form{
    text-align: center !important;
}
div.container.text-left{
    padding-left: 30% !important;
    padding-right: 30% !important;
}
div.row{
    padding-left: 30% !important;
    padding-right: 30% !important;
}