<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "Community Service", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "FORM A",   root_path %></li>
        <li><%= link_to "FORM B",   formB_path %></li>
        <li><%= link_to "FORM C",   formC_path %></li>
      </ul>
    </nav>
  </div>
</header>